@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

* {
    font-family: "Roboto", sans-serif;
}

#fileInput {
    display: none;
}

body {
    background-color: #f5f5fa;
}

.compressText h1,
h3 {
    text-align: center;
}

.imageSelector {
    display: flex;
    justify-content: center;
}

.imageContainer {
    display: flex;
    justify-content: space-around;
}

.customFileUpload {
    background-color: #4c57ea;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.customFileUpload:hover,
.customFileUpload:focus {
    background-color: #6e73f0;
}

.compressSteps{
    margin-left: 4%;
}

.passos{
    width: 200px;
    cursor: pointer;
    margin-bottom: 20px;
    font-weight: 700;
}

.preparacaoTexto{
    display: none;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
}
